
<div class = "company-list">

  <div *ngIf="loading"> Loading companies ...</div>
  <div *ngIf="error"> {{ error }} </div>

  <ul *ngIf = "!loading && !error">
    <li *ngFor= "let company of companies" (click)="onSelectedCompany(company)" [class.selected]="company===selectedCompany">
      <strong> {{ company.name }}</strong>
      <span *ngIf="company.location"> - {{ company.location }} </span>
      <div *ngIf = "company.website">
        <a [href] = "company.website" target = "_blank"> Website </a>
      </div>
      <div *ngIf = "company.notes">
        Notes: {{ company.notes }}
      </div> 
      <hr />
    </li>
  </ul>

  <div *ngIf="selectedCompany">
    <h3> Applications for {{ selectedCompany.name }} </h3>
    <app-applications-list [companyId] = "selectedCompany.id"></app-applications-list>
  </div>

</div>
