<div class = "company-detail">

    <!-- Confirm delete modal -->
    <div class="confirm-backdrop" *ngIf="showConfirm">
        <div class="confirm-modal">
        <h3>Confirm deletion</h3>
        <p>{{ confirmMessage }}</p>
    
        <div class="confirm-actions">
            <button class="confirm-delete" (click)="confirmDelete()">
            Delete
            </button>
            <button class="confirm-cancel" (click)="cancelDelete()">
            Cancel
            </button>
        </div>
        </div>
    </div>
  
    <div *ngIf="loading" class="status-text"> Loading company...</div>
    <div *ngIf="error" class="status-text error"> {{ error }} </div>

    <div *ngIf="company" class="company-card">
        <div class="company-header">
            <h2 class="company-name"> {{ company.name }} </h2>
            <button class="delete-button" (click)="openDeleteConfirm(company)">
                Delete company
            </button>
        </div>
        <p *ngIf="company.location" class="company-field">
            <strong> Location: </strong> {{ company.location}}
        </p>
        <p *ngIf="company.website" class="company-field">
            <strong> Wesbite: </strong> 
            <a [href] = "company.website" target="_blank"> {{ company.website }} </a>
        </p>
        <p *ngIf = "company.notes" class="company-field">
            <strong> Notes: </strong> {{ company.notes }}
        </p>

        <hr class="company-divider"/>
        
        <div class="applications-header">
            <h3 class="applications-title"> Applications </h3>
            <button 
            class="create-application-button" 
            [routerLink]="['/create-application']"
            [queryParams]="{companyId: companyId}"
            >
             Create Application 
            </button>
        </div>
        <app-applications-list [companyId]="companyId"></app-applications-list>

        <a routerLink="/companies" class="back-link"> ← Back to companies </a>
    </div>
</div>